/* Основное */
body {
    font-family: Etude Noire;
    margin: 0;
    padding: 0;
    background-color: #5C341B;
    color: #F3E9DD;
}
/* Чердка */
.attic {
    background-color: #895637;
    height: 100px;
    position: relative;
    display: flex; 
    align-items: center; 
    padding: 0 253px;
    box-sizing: border-box; 
}
.search-container {
    padding: 20px;
    text-align: center;
}
.search-input {
    font-family: Etude Noire;
    padding: 15px; 
    width: 60%; 
    max-width: 800px; 
    border: 1px solid #F3E9DD;
    border-radius: 5px;
    font-size: 14px; 
    margin: 0 20px; 
}
.logo{
    border: none; 
    background: none; 
    padding: 20;
    margin-top: 20px; 
    cursor: pointer;
}
.image-button {
    border: none; 
    background: none; 
    padding: 20; 
    cursor: pointer; 
}
.image-button img {
    width: 60px; 
    height: 60px; 
    display: block; 
}
.button.catalog {
    font-family: Etude Noire;
    background-color: #8DC12C; 
    border: none; 
    padding: 15px 25px; 
    margin: 5px; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px; 
    color: #F3E9DD;
}

/* Профиль */

.cab {
    display: grid; 
    grid-template-columns: 2fr 1fr;; 
    gap: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 250px; 
    margin-right: 250px;
}

.profiel{
    background-color: #F3E9DC;
    width: 708px; 
    height: 220px;
    border-radius: 20px; 
    grid-column: 1;
}

.image-button-notification {
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 
    margin-left: 630px; 
    margin-top: 10px;
}
image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    margin: 0; 
}

.image-container1 {
    position: relative;
    bottom:30px;
    left: 30px; 
    display: inline-block; 
}

.Name{
    position: relative;
    bottom:130px;
    left: 220px; 
    color: #5C341B;
    font-family: Etude Noire;
    font-size: 24px; 
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 300px;
    height: 220px;
    grid-column: 2;
}

.grid-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3E9DC;
    border: none;
    border-radius: 10px;
    color: #5C341B;
    font-family: Etude Noire;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    outline: none; /* Убирает обводку при фокусе */
    color: inherit; /* Наследует цвет текста */
}

a:focus, a:active {
    outline: none; /* Убирает обводку при фокусе и активном состоянии */
}

.grid-button:hover {
    background-color: #F3E9DC;
}

.button-icon {
    width: 50px; 
    height: 50px;
    margin-right: 8px; 

}

/* Рекомендации */

.title {
    font-size: 48px; 
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 250px;
    margin-right: 50px;
    display: inline-block; 
}

.image-button-notification img {
    width: 50px; 
    height: 50px; 
    display: block; 
}

.recommendations {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 250px; 
    margin-right: 250px;
}

.product {
    position: relative;
    box-shadow: 0 2px 5px #381a08;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    padding: 0; 
    margin: 0; 
}
.product-button-top-right {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    z-index: 2; 
}

.product-button-top-right img {
    width: 40px; 
    height: 40px; 
    display: block;
}
.product-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    margin: 0; 
}

.image-container {
    position: relative; 
    display: inline-block; 
}

.discount-text {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    padding: 20px;
    font-size: 20px; 
    font-weight: bold; 
    color: white; 
    background-color: #D92323; 
    padding: 5px 10px; 
    border-radius: 10px;
    z-index: 2; 
}

.product-info {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    padding: 10px;
}

.product-name {
    font-size: 24px; 
    margin-bottom: 10px;
    margin-left: 20px;  
}

.product-somthing {
    font-size: 16px; 
    margin-bottom: 10px;
    margin-left: 20px;  
}

.product-price-and-button {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.product-price {
    font-size: 20px; 
    margin-left: 20px; 
    margin-bottom: 10px;
}
.product-price2 {
    font-size: 20px; 
    margin-left: 20px; 
    margin-bottom: 10px;
    text-decoration: line-through;
}
.image-button-cart {
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 
    margin-right: 20px; 
    margin-bottom: 10px;
}

.image-button-cart img {
    width: 50px; 
    height: 50px; 
    display: block; 
}
/* Подвал */
.Basement {
    background-color: #895637;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 0 253px;
    box-sizing: border-box;
}

.logo {
    margin-bottom: 20px; 
}

.social-media-container {
    display: flex;
    gap: 65px; 
}

.image-button2 {
    border: none;
    background: none;
    padding: 0; 
    cursor: pointer;
}

.image-button2 img {
    width: 60px;
    height: 60px;
    display: block;
}
.footer-text {
    color: #F3E9DD;
    font-size: 20px; 
    font-family: Etude Noire, sans-serif;
    width: 550px;
}
.footer-text2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    color: #F3E9DD;
    font-size: 20px; 
    font-family: Etude Noire, sans-serif;
    position: absolute; 
    right: 253px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.footer-text2 .column {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.footer-text2 h4 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.footer-text2 p {
    margin-bottom: 10px;
}